extends nav.base.pug

block variables
  - page.tags = helpers.getTags(collections.posts);

block navLinks
  li blog
    ul 
      each tag in page.tags
          li: +link('/' + tag.path, tag.name)
      li: +link('/' + 'archives/1/', 'blog archives')